/*Menu bar itself*/
.menu-bar {
    -fx-background-color: rgb(60, 63, 65);
    -fx-padding: 0em 0em 0em 0em;
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 0 1 0;
}

/*.menu-bar:focused {
    -fx-background-color: rgb(59, 124, 212);
}*/

.menu-bar .label {
    -fx-text-fill: rgb(187, 187, 187);
}

.menu-bar .container .menu-button {
    -fx-background-color: rgb(60, 63, 65);
}

.menu-bar .container .menu-button:hover {
    -fx-background-color: rgb(59, 124, 212);
}

.menu-item {
    -fx-background-color: rgb(60, 63, 65);
    -fx-padding: 4 20 4 20;
}

.menu-item .label {
    -fx-text-fill: rgb(187, 187, 187);
}

.menu-item:hover {
    -fx-background-color: rgb(59, 124, 212);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgb(60, 63, 65);
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0em 0em 0em 0em;
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 1;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(81, 81, 81);
}