.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#root_container {
    -fx-background-color: rgb(60, 63, 65);
}

.scroll-bar:vertical {
    /*-fx-background-color: rgb(78, 78, 78);*/
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .track{
    -fx-background-color: rgb(60, 63, 65);
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(78, 78, 78);
    -fx-background-radius: 0em;
}

.text-field {
    -fx-background-color: rgb(69, 73, 74);
    -fx-background-radius: 0;

    -fx-border-color: rgb(100, 100, 100);
    -fx-border-width: 1;

    -fx-text-fill: rgb(187, 187, 187);
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent;

    -fx-text-fill: rgb(187, 187, 187);
}

.text-area .content {
    -fx-background-color: rgb(69, 73, 74);
    -fx-background-radius: 0;

    -fx-border-color: rgb(100, 100, 100);
    -fx-border-width: 1;
}

#iconControllerBox {
    -fx-border-color: rgb(187, 187, 187);
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

#saveButton {
    -fx-background-color: rgb(77, 144, 255);

    -fx-border-color: rgb(43, 123, 255);

    -fx-text-fill: white;
}

#saveButton:hover {
    -fx-background-color: rgb(94, 155, 255);

    -fx-border-color: rgb(60, 133, 255);
}

#saveButton:pressed {
    -fx-background-color: rgb(43, 123, 255);

    -fx-border-color: rgb(0, 93, 247);
}

