#darkThemeBackground {
    -fx-background-color: rgb(43, 43, 43);
}

#gridPane {
    -fx-background-position: center center;
}

#addSceneImageButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#transitionTextLabel .text {
    -fx-stroke: outline-color;
    -fx-stroke-width: 3px;
}

#transitionTextLabel {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 130px;
}

.asis-progress-label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 40px;
}

.asis-progress-label .text {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.tool-bar {
    -fx-background-color: rgb(60, 63, 65);
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 0 1 0;
}

.tool-bar .button {
    -fx-background-color: rgb(77, 144, 255);

    -fx-border-color: rgb(43, 123, 255);

    -fx-text-fill: white;
}

.tool-bar .button:hover {
    -fx-background-color: rgb(94, 155, 255);

    -fx-border-color: rgb(60, 133, 255);
}

.tool-bar .button:pressed {
    -fx-background-color: rgb(43, 123, 255);

    -fx-border-color: rgb(0, 93, 247);
}

.tool-bar .toggle-button {
    -fx-background-color: rgb(77, 144, 255);
    -fx-border-color: rgb(43, 123, 255);
    -fx-text-fill: white;
}

.tool-bar .toggle-button:hover {
    -fx-background-color: rgb(94, 155, 255);
    -fx-border-color: rgb(60, 133, 255);
}

.tool-bar .toggle-button:pressed {
    -fx-background-color: rgb(43, 123, 255);
    -fx-border-color: rgb(0, 93, 247);
}

.tool-bar .toggle-button:selected {
    -fx-background-color: rgb(43, 123, 255);
    -fx-border-color: rgb(0, 93, 247);
}

.tool-bar .label {
    -fx-text-fill: rgb(187, 187, 187);
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: rgb(81, 81, 81);
}

.split-pane:horizontal {
   -fx-padding: 0px;
}

#iconControllerBox {
    -fx-border-color: rgb(187, 187, 187);
    -fx-border-width: 2;
    -fx-border-style: dashed;
}