.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: rgb(60, 63, 65);
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 0 1 0;
}

.tab-pane {
    -fx-background-color: rgb(60, 63, 65);
    -fx-padding: 0em 0em 0em 0em;
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 0 1 0;
}

.tab {
    /*-fx-background-insets: 0 1 0 1,0,0;*/
    -fx-background-color: rgb(60, 63, 65);
    -fx-background-radius: 0;

    -fx-padding: 0.2em 0.7em 0.2em 0.7em;
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 1 0 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: rgb(81, 86, 88);
    -fx-padding: 0em 0em 0em 0em;
    -fx-background-radius: 0;
    -fx-padding: 0.2em 0.7em 0.2em 0.7em;
    -fx-border-color: rgb(81, 81, 81);
    -fx-border-width: 0 1 0 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(187, 187, 187);
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(187, 187, 187);
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.0em;
}

.tab-pane:bottom *.tab-header-area {
    -fx-padding: 0.0em;
}

.tab-pane:left *.tab-header-area {
    -fx-padding: 0.0em;
}

.tab-pane:right *.tab-header-area {
    -fx-padding: 0.0em;
}

.tab .tab-close-button {
    -fx-background-color: rgb(81, 86, 88);
    -fx-background-insets: 0;
}

.tab .tab-close-button:hover {
    -fx-background-color: rgb(187, 187, 187);
    -fx-background-insets: 0;
}

