.text-field {
    -fx-background-color: rgb(69, 73, 74);
    -fx-background-radius: 0;

    -fx-border-color: rgb(100, 100, 100);
    -fx-border-width: 1;

    -fx-text-fill: rgb(187, 187, 187);
}

#optionTextField {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#optionTextField .text {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#optionTextField:empty .text {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-font-size: 12px;
}

#browsFoldersButton {
    -fx-background-color: rgb(69, 73, 74);
    -fx-background-radius: 0;

    -fx-border-color: rgb(100, 100, 100);
    -fx-border-width: 1;

    -fx-text-fill: rgb(187, 187, 187);
}

