#mainTextArea {
    -fx-background-color: rgba(86,86,86,0.5);
    -fx-background-radius: 5;
    -fx-background-insets: 0;


    -fx-padding: -8 -10 -8 -10;
    -fx-border-insets: 0;
    -fx-border-width: 8;

    -fx-border-color: linear-gradient(to bottom, rgba(194, 194, 194, 0.8), rgba(132, 132, 132, 0.8));
    -fx-border-radius: 5;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 35px;
    -fx-text-fill: fill-color;
}

#mainTextArea .text {
    -fx-stroke: outline-color;
    -fx-stroke-width: 1;
}

#mainTextArea .scroll-pane {
    -fx-background-color: transparent;
}

#mainTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#mainTextArea .scroll-pane .content{
    -fx-background-color: transparent;
}

#mainTextArea .scroll-bar .increment-button,
#mainTextArea .scroll-bar .decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
#mainTextArea .scroll-bar .increment-arrow,
#mainTextArea .scroll-bar .decrement-arrow{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#mainTextArea .context-menu {
    -fx-skin: "javafx.scene.control.skin.ContextMenuSkin";
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

#mainTextArea .context-menu .text {
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}